@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Marcellus&family=Tiro+Devanagari+Sanskrit:ital@0;1&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 20px 5%;
    height: auto;
}

header nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 50px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}
.link {
    font-family: "Ubuntu", sans-serif;
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 15px;
}



.header-content {
    margin: 20px 5%;
    height: auto;
    display: flex;
    align-items: center;

    flex-wrap: nowrap;
}

.introduction {
    margin-top: 50px;
    max-width: 600px;


}

.introduction h1 {
    font-family: "Inter", sans-serif;
    color: black;
    font-weight: 700;
    font-size: 60px;
}

.introduction p {
    font-family: "Inter", sans-serif;
    color: black;
    font-weight: 300;
    font-size: 20px;
}

.introduction span {
    font-family: "Tiro Devanagari Sanskrit", serif;
    font-weight: 400;
    font-style: italic;
}

.introduction-under {
    display: flex;
    margin-top: 50px;
    gap: 20px;
    flex-wrap: wrap;
}


.introduction-under button {
    height: 50px;
    border-radius: 20px;
    width: 250px;
    border: none;
    color: white;
    background-color: #90A955;

    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color:black;
    transition: background-color 0.3s ease;
}
.sign-up{
    background-color: #4F772D;
    width: 70px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 30px;
    color: white;
    font-family: "Ubuntu", sans-serif;
    text-decoration: none;
    font-weight: 400;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.sign-up:hover {
    background-color: #ffff;
    color: black;
}
.introduction-under button span {
    position: relative;
    z-index: 1;
    transition: transform 0.3s ease, color 0.3s ease;
    transition: opacity 0.3s ease, color 0.3s ease;
    display: inline-block;
    margin-right: 10px;
    font-size: 25px;
}
.introduction-under button p {

    transition: transform 0.3s ease, color 0.3s ease;
    font-family: "Urbanist", sans-serif;
    font-weight: 600;
    font-size: 20px;

}


.introduction-under button:hover {
    background-color: #6b8b2d;

}


.introduction-under button:hover span {
    opacity: 0;

}
.introduction-under button:hover p {
    transform: translateX(10px);

}

.introduction-under button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    transition: width 0.3s ease;
    z-index: 0;
}

.introduction-under button:hover::before {
    width: 100%;
}


.features {
    margin-top: 150px;
    padding: 50px 5%;
    background-color: #EDEDED;
    width: 100%;
    text-align: center;
}

.features-header {
    margin: 0 auto;
    max-width: 700px;
    font-size: 20px;
    font-family: "Urbanist", serif;
    font-weight: 300;
    font-style: normal;
}

.features-header h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
}
.features-header span{
    font-family: "Tiro Devanagari Sanskrit", serif;
    font-weight: 400;
    color: #5A7F3A;
}

.offers {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.offer {
    width: 90%;
    max-width: 670px;
    border: 1px solid #E5F5BD;
    border-radius: 10px;
    height: auto;
    background-color: white;
    padding: 20px;
    text-align: left;
}

.offer-content {
    font-family: "Urbanist", serif;
    font-weight: 500;
    font-size: 18px;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 40px;
}

.offer-content p {
    max-width: 500px;
}

.offer-flex {
    display: flex;
    align-items: center;
    gap: 14px;
    font-family: "Urbanist", serif;
    font-weight: 600;
    font-size: 20px;
}

footer {
    height: 250px;
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #90A955;
}

@media (max-width: 1024px) {
    .introduction h1 {
        font-size: 50px;
    }
    .introduction p {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    nav {
        justify-content: center;
        gap: 20px;
    }
    .link{
        font-size: 13px;
    }
    .introduction h1 {
        font-size: 40px;
    }
    .introduction-under {
        flex-direction: column;
        align-items: center;
    }
    .introduction-under button {
        width: 200px;
    }
    .stats-container {
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
        text-align: start;
        margin-top: 50px;
        margin-bottom: 100px;
    }

    .stat {
        padding: 0;
        text-align: start;
    }

    .stat h2 {
        font-size: 28px; /* Уменьшаем размер заголовков */
    }

    .stat h2 span {
        font-size: 18px; /* Корректируем размер italic-части */
    }

    .stat p {
        font-size: 13px;
    }

    .stat:not(:last-child)::after {
        display: none; /* Убираем разделительные линии */
    }

    .info {
        text-align: center;
        max-width: 90%;
    }

    .info p {
        font-size: 13px;
    }

    .info a {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .introduction h1 {
        font-size: 32px;
    }
    .introduction p {
        font-size: 16px;
    }
    .offer {
        width: 100%;
        padding: 10px;
    }
    .features-header {
        width: 90%;
    }
}
.hover-underline-animation {
    display: inline-block;
    position: relative;


}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #4F772D;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;


}
.stats-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    margin: auto;
    gap: 40px;
    margin-top: 100px;
    margin-bottom: 180px;
}

.stat {
    text-align:start;
    position: relative;
    padding: 0 20px;
}

.stat h2 {
    font-size: 32px;
    font-weight: 700;
    color: black;
    font-family: "Urbanist", sans-serif;
}

.stat h2 span {
    font-style: italic;
    color: #5B7F3C; /* Зеленый цвет */
    font-family: "Tiro Devanagari Sanskrit", serif;
    font-size: 20px;
}

.stat p {
    font-size: 14px;
    color: #666;
    font-family: "Urbanist", sans-serif;
    font-weight: 400;
}

.stat:not(:last-child)::after {
    content: "";
    position: absolute;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
    height: 50px;
    width: 1px;
    background-color: #5B7F3C;
}

.info {
    max-width: 300px;
    height: auto;
}

.info p {
    font-size: 14px;
    color: #666;
    font-family: "Urbanist", sans-serif;
    margin-bottom: 20px;
}

.info a {
    font-weight: 700;
    color: #5B7F3C;
    font-family: "Urbanist", sans-serif;
    text-decoration: none;
}

.info a:hover {
    text-decoration: underline;
}
.top-footer{
    padding-top: 50px;
    padding-left: 56px;
    display: flex;
    align-items: center;
}
.top-footer nav{
    display: flex;
    gap: 26px;
    margin: 0 auto;
    font-family: "Urbanist", serif;


}
Link{
    text-decoration: none;
}
.go-top{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 81px;
    font-family: "Urbanist", serif;
    color: white;
}
.info-footer{
    background-color: #4F772D;
    width: 50%;
    margin-top: 70px;
    margin: 0 auto;
    height: 70px;
    border-radius: 20px;
    border: 1px solid #2C5446;
    display: flex;
    align-items: center;
    justify-content: center;

}
.info-footer-items{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}
.items{
    font-family: "Urbanist", serif;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    height: 55px;
    border: 1px solid #2C5446;
    border-radius: 10px;
}
.bottom-footer {
    font-family: "Urbanist", sans-serif;
    color: white;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
