body {
    margin: 0;
    padding: 0;
}




.content-recipes{
    background-color: #f5f5d5;
    font-family: Urbanist, sans-serif;
}
.recipes{
    display: flex;

}
.header-recipes{
    margin-bottom: 60px;
    font-family: Urbanist, sans-serif;
}
.header-recipes h1{
    font-size: 64px;
    margin-bottom: 15px;
}
.header-recipes p{
    font-size: 24px;
}
.recipe{
    width: 270px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 10px;
}
.recipe img{
    width: 250px;
    height: 130px;
    border-radius: 10px;
}