@import"https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Marcellus&family=Tiro+Devanagari+Sanskrit:ital@0;1&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap";* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
.logobig{
    margin: 0 auto;
    display: block;
    margin-top: 25px;
}
.box-quastions{
   display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 180px;
}
.box-quastions h1{
    font-family: Urbanist,sans-serif;
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 20px;
}
.box-quastions li{
    font-family: Urbanist,sans-serif;
    font-weight: 400;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    font-size: 32px;
    text-align: left;
    width: 700px;
    height: 70px;
    background-color: #F0F0F0;
    border-radius: 26px;
}
.box-quastions ul{
    margin-top: 65px;
}
.box-quastions p{
    font-family: Urbanist,sans-serif;
    font-weight: 400;
    font-size: 32px;
}
.CircularProgressbar {
    margin-top: 100px;
}
.login_button{
    height: 50px;
    border-radius: 25px;
    width: 340px;
    border: none;
    color: black;
    background-color: #4F772D;
    position: relative;
    overflow: hidden;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;

}
.ready{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 180px;
    gap: 30px;
    flex-direction: column;
    animation: entarance 1s ease-out both;
}
.ready h2{
    font-family: Urbanist,sans-serif;
    font-weight: 600;
    font-size: 48px;
}
.ready p{
    font-family: Urbanist,sans-serif;
    font-weight: 400;
    font-size: 32px;
}
@keyframes animate {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes entarance {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.hidden{
     animation: animate 1s ease-out both;
}
@media (max-width: 480px) {
    .box-quastions{
        padding: 10px;
    }
    .box-quastions li{
        font-size: 24px;
        width: 300px;
        height: 60px;
        padding: 20px;
    }
    .ready{
        padding: 15px;
    }
    .box-quastions h1 {
        font-size: 35px;
    }

}